*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #2b283a;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

@media (min-width: 550px) {
  .container {
    max-width: 550px;
  }
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #f55a5a;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 45px;
}

.header--logo {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.header--text {
  font-weight: 500;
  font-size: 14.5px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

/* Card */

.cards {
  margin: 0 40px;
}

.card {
  display: flex;
  align-items: center;
  font-size: 10.24px;
  line-height: 12px;
  padding-bottom: 18px;
  margin-top: 18px;
  border-bottom: 1px solid #f5f5f5;
}

.card:last-of-type {
  border: none;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 19px;
}

.card--icon {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}

.card--location {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card--link {
  color: #918e9b;
}

.card--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 2px 0 14px;
}

.card--dates {
  font-weight: 700;
  margin-bottom: 6px;
}

.card--description {
  line-height: 150%;
}
